[defaults]
host_key_checking = False
stdout_callback = default
inventory = ./inventory.yml
collections_path = ~/.ansible/collections
retry_files_enabled = False
display_skipped_hosts = False
deprecation_warnings = False

[persistent_connection]
connect_timeout = 30
command_timeout = 30
